html, body {
	height: 100%;
	min-width: 1000px;
	margin: 0;
	padding: 0;
	overflow:auto;
}

label {
	margin-left: 10px;
	color: white;
}

#map {
	position: fixed;
	right: 0px;
	top: 0px;
	height: calc(100%);
	width: calc(100%);
}

#inlinemap {
	position: fixed;
	right: 0px;
	top: 0px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	margin-left: 5px;
	margin-top: 5px;
}

/*#inlinemap div.gm-style > button[title="Toggle fullscreen view"] {
  display: none;
}*/

#spinner {
	position: fixed;
	left: 0px;
	top: 0px;
	width: calc(100%);
	height: calc(100%);
	z-index: 10001;
}

#spinner > img {
	position: fixed;
	width: 50px;
	height: 50px;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
}

#templates {
	 display: none;
}

#header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(100%);
	height: 50px;
	/*background-color: #4da6ff;*/
	top: 0px;
	right: 0px;
	z-index: 1000;
}

/*
#header > input {
	margin-bottom: 20px;
}


#header label {
	margin-top: 10px;
}*/

#resources {
	position: fixed;
	top: 50px;
	right: 0px;
	height: calc(100% - 50px);
	width: 200px;
	/*background-color: #4da6ff;*/
	/*z-index: 1000;*/
	overflow-y:auto;
}

#image-pane {
	position: absolute;
	left: calc(50% - 300px);
	bottom: calc(50% - 150px);
	overflow-y:auto;
	/*background-color: #4da6ff;*/
	background-color: #FFF;
	color: black;
	height: 300px;
	width: 600px;
	/*display: block;*/
	z-index: 1001;
	overflow-y: auto;
}

#contours-pane {
	position: absolute;
	left: calc(50% - 300px);
	bottom: calc(50% - 150px);
	overflow-y:auto;
	background-color: #4da6ff;
	color: black;
	height: 300px;
	width: 600px;
	display: block;	
	z-index: 1001;
	overflow-y: auto;
}

#resource-info {
	position: absolute;
	left: 0px;
	bottom: 0px;
	overflow-y:auto;
	background-color: #4da6ff;
	color: black;
	height: 300px;
	width: 600px;
	display: block;	
	z-index: 2;
	overflow-y: auto;
}

#clustered-resources-info {
	position: absolute;
	left: 0px;
	bottom: 0px;
	right: 0px;
	overflow-y:auto;
	background-color: #4da6ff;
	color: black;
	height: 300px;
	width: 600px;
	display: block;	
	z-index: 1;
	overflow-y: auto;
}

#resource-info > div > h4 {
	margin-left: 10px;
	margin-top: 10px;
}

#resource-info > div > a {
	position: absolute;
	right: 10px;
	top: 10px;
	color: white;
	font-weight: bold;
}

#close_image_pane {
	position: absolute;
	z-index: 1002;
}

#close_contours_pane {
	position: absolute;
	z-index: 1002;
}

#login-window-close-button {
	position: absolute;
	z-index: 10000;
}

#registration-form-close-button {
	position: absolute;
	z-index: 10000;
	cursor: pointer;
}

#magnify_image_pane {
	position: absolute;
	z-index: 1002;
}

#magnify_contours_pane {
	position: absolute;
	z-index: 1002;
}

#cut_image, #plan_image, #plan_contours {
	float: right;
	margin-right: 10px;
	color: white;
	font-weight: bold;
}

#help-info > a {
	float: right;
	margin-top: 20px;
	margin-right: 10px;
	color: white;
	font-weight: bold;
}


#resource-info > div > h4 {
	margin-left: 10px;
}

#resource-info > div > p {
	margin-left: 10px;
}

#resource-info > div > span {
	margin-left: 10px;
}

#resource-info p {
	margin-left: 10px;
}

#resource-info h4 {
	margin-left: 10px;
}

.resource {
	background-color: white;
	width: calc(100% - 20px);
	margin-left: 10px;
	margin-right: 10px !important;
	margin-bottom: 10px;
	padding: 10px;
	cursor: pointer;	
}

.resource > p {
	font-size: 10px;

}

.resource > h4 {
	font-size: 10px;
	font-weight: bold;
}

.resource:hover {
	background-color: grey !important;
}

.top-controls {
	float: left;
	margin-top: 10px;
	z-index: 10000;
}

#controls > label {
	font-size: 12px;
}

#fold {
	width: 32px;
	height: 32px;
	cursor: pointer;
}

#help {
	width: 32px;
	height: 32px;
	cursor: pointer;
}

#extended_search {
	width: 32px;
	height: 32px;
	cursor: pointer;
}

#search_by_location {
	width: 32px;
	height: 32px;
	cursor: pointer;
}

#login {
	width: 32px;
	height: 32px;
}

#settings {
	width: 32px;
	height: 32px;
}

.right {
	float: right;
	margin-right: 10px;
}

#clustered-resources-close-button {
	position: absolute;
	z-index: 999;
}

#help-close-button {
	position: absolute;
	z-index: 1000;
}

#extended-search-form-close-button {
	position: absolute;
	z-index: 1000;
	cursor: pointer;
}

.resource-info-button {
	position: absolute;
	z-index: 1000;
}

.resource-print-button {
	position: absolute;
	z-index: 1000;
}

#clustered-resources-info {
	position: absolute;
	left: 0px;
	bottom: 0px;
	overflow-y:auto;
	background-color: #4da6ff;
	color: black;
	height: 300px;
	width: 600px;
	display: block;	
	z-index: 1;
	text-align: justify;
}

#clustered-resources-info > a {
	float: right;
	margin-top: 20px;
	margin-right: 10px;
	color: white;
	font-weight: bold;
}

#help:hover {
	border: 1px;
	cursor: pointer;
}

#extended-search-form {
	position: absolute;
	left: 0px;
	bottom: 0px;
	overflow-y:auto;
	background-color: #4da6ff;
	color: black;
	height: 300px;
	width: 600px;
	display: block;
	z-index: 1;
	text-align: justify;
}

#help-info {
	position: absolute;
	left: 0px;
	bottom: 0px;
	overflow-y:auto;
	background-color: #4da6ff;
	color: black;
	height: 300px;
	width: 600px;
	display: block;	
	z-index: 1;
	text-align: justify;
}

#login-info {
	position: absolute;
	left: 0px;
	bottom: 0px;
	overflow-y:auto;
	background-color: #4da6ff;
	color: black;
	height: 300px;
	width: 600px;
	display: block;	
	z-index: 9999;
	text-align: justify;
}

#registration-form {
	position: absolute;
	left: 0px;
	bottom: 0px;
	overflow-y:auto;
	background-color: #4da6ff;
	color: black;
	height: 300px;
	width: 600px;
	display: block;	
	z-index: 9999;
	text-align: justify;
}

#help-info > p {
	padding: 10px;
}

#help-info > h4 {
	text-align: center;
}

.license {
	margin-left: 10px;
	margin-top: 10px;
	color: white;
	font-size: 10px;
	border-style: solid;
	border-width: 1px;
	width: 200px;
}

.marker {
	cursor: pointer;
	border-radius: 25px;
	font-weight: bold;
	font-size: 16px;
	position: absolute;
	color: white;
	z-index: 1000000;
}

.label {
	cursor: pointer;
	border-radius: 25px;
	font-weight: bold;
	font-size: 10px;
	position: absolute;
	color: white;
	z-index: 1000000;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#login-table {
	margin-top: 80px;
	margin-left: 190px;
}

.login-message {
	color: red;
	font-weight: bold;
}

.side-panel {
	position: fixed;
	top: 0px;
	right: 0px;
	height: calc(100%);
	width: 400px;
	background-color: #4da6ff;
	overflow-y:auto;
	display: none !important;
}

.side-panel > ul > li > a {
	margin-left: 10px;
	color: white;
	font-weight: bold;
	font-size: 9pt;
}

ul {
  list-style: none;
}

.side-panel > p {
	font-weight: bold; 
	color: white; 
	margin-left: 10px;
}

.main-panel {
	position: fixed;
	right: 400px;
	top: 0px;
	width: calc(100% - 400px);
	height: calc(100%);
	overflow-y: auto;
}


.content {
	width: calc(90%);
	margin-left: 5%;
	margin-top: 20px;
}

h4 {
	color: white;
	font-weight: bold;
}

.resource > h4 {
	color: black;
}

form > div > select { 
	width: 70%;
	float: right;
	/*margin-right: 30px;*/
}

form > select { 
	width: 100%;
	float: right;
	margin-bottom: 10px;
	/*margin-right: 30px;*/
}

form > div > input { 
	width: 70%;
	float: right;
	margin: 0px;
	/*margin-right: 30px;*/
}

form > input { 
	width: 100%;
	float: right;
	margin-bottom: 10px;
	/*margin-right: 30px;*/
}

.error_text {
	color: red;
	font-weight: bold;
}

#histograms {
	z-index: 9998;
}

#message-window {
	position: absolute;
	left: 0px;
	bottom: 0px;
	overflow-y:auto;
	background-color: #4da6ff;
	color: white;
	font-weight: bold;
	font-size: 20pt;
	padding-top: 100px;
	height: 300px;
	width: 600px;
	display: block;	
	z-index: 9999;
	text-align: justify;
	vertical-align: middle;
	text-align: center;
}

#message-window-close-button {
	position: absolute;
	z-index: 10000;
	cursor: pointer;
}

.input-form {
	 width: 100%; 
	 margin: 20px;
}

#request_registration_submit {
	float: right;
}

.ui-tooltip {
	z-index: 100000;
}

.legend {
	z-index: 100000;
	position: absolute;
	right: 10px;
	top: 60px;
	color: white;
	font-weight: bold;
}

.legend-info {
	z-index: 100000;
	width: 20px;
	height: 20px;
}