<!DOCTYPE html>
<html>
	<head>
		<title>Административная панель управления</title>
		<script src="javascripts/highcharts.js"></script>
		<script src="javascripts/histogram-bellcurve.js"></script>
		<script src="javascripts/jquery-3.3.1.js"></script>
		<script src="javascripts/handlebars.js"></script>
		<script type = "text/javascript" src = "./javascripts/geoapi.js"></script>
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
		<meta charset="UTF-8">
		<style>
			label {
				margin-left: 10px;
				color: black;
			}
			form > div > input { 
				width: calc(70%) !important;
				float: right !important;
				margin: 0px !important;
			}
		</style>
	</head>
	<body>
		<div id="templates">
		</div>
		<div class="side-panel">
			<p>Производительность системы:</p>
			<ul>
				<li>
					<a href="admin.html#show_histograms" id="show_histograms">Показать гистограммы</a>
				</li>
				<li>
					<a href="admin.html#show_stats" id="show_stats">Показать статистику</a>
				</li>
			</ul>
			<p>Управление пользователями:</p>
			<ul>
				<li>
					<a href="admin.html#add_user" id="add_user_button">Добавить пользователя</a>
				</li>
				<li>
					<a href="admin.html#update_user" id="update_user_button">Обновить пользователя</a>
				</li>
				<li>
					<a href="admin.html#delete_user" id="delete_user_button">Удалить пользователя</a>
				</li>
				<li>
					<a href="admin.html#change_password" id="change_password_button">Сменить пароль пользователя</a>
				</li>
				<li>
					<a href="admin.html#pending_registrations" id="pending_registrations_button">Запросы на регистрацию</a>
				</li>
			</ul>
			<p>Прочие действия:</p>
			<ul>
				<li>
					<a href="admin.html#logout" id="logout_button">Выйти</a>
				</li>
			</ul>
		</div>
		<div class="main-panel" style="display: none">
			<div id="add_user_form" class="content">
				<form>
					<div class="form-group">
						<label id="a_username_label">Имя пользователя: </label>
						<input type="text" class="form-control" placeholder="Введите имя пользователя" id="a_username"/>
					</div>
					<div class="form-group">
						<label id="a_password_label">Пароль: </label>
						<input type="password" class="form-control" placeholder="Введите пароль" id="a_password"/>
					</div>
					<div class="form-group">
						<label id="a_firstname_label">Имя: </label>
						<input type="text" class="form-control" placeholder="Введите имя" id="a_user_first_name"/>
					</div>
					<div class="form-group">
						<label id="a_lastname_label">Фамилия: </label>
						<input type="text" class="form-control" placeholder="Введите фамилию" id="a_user_last_name"/>
					</div>
					<div class="form-group">
						<label id="a_phone_number_label">Телефон: </label>
						<input type="text" class="form-control" placeholder="Введите телефон" id="a_phone_number"/>
					</div>
					<div class="form-group">
						<label id="a_email_address_label">Эл. почта: </label>
						<input type="text" class="form-control" placeholder="Введите адрес электронной почты" id="a_email_address"/>
					</div>
					<div class="form-group">
						<label id="a_roles_label">Роль: </label>
						<select id="a_roles"></select>
					</div>
					<button id="add_user_button_submit" class="btn btn-default">Добавить</button>
				</form>
			</div>
			<div id="update_user_form" class="content">
				<form>
					<div class="form-group">
						<label id="u_username_label">Имя пользователя: </label>
						<select id="u_username"></select>
					</div>
					<div class="form-group">
						<label id="u_roles_label">Роль: </label>
						<select id="u_roles"></select>
					</div>
					<div class="form-group">
						<label id="u_enabled_label" style="width: 40px">Активен: </label>
						<input type="checkbox" id="u_enabled">
					</div>
					<div class="form-group">
						<label id="u_user_first_name_label">Имя: </label>
						<input type="text"  class="form-control" placeholder="Введите имя" id="u_user_first_name"/>
					</div>
					<div class="form-group">
						<label id="u_user_last_name_label">Фамилия: </label>
						<input type="text"  class="form-control" placeholder="Введите фамилию" id="u_user_last_name"/>
					</div>
					<div class="form-group">
						<label id="u_phone_number_label">Телефон: </label>
						<input type="text"  class="form-control" placeholder="Введите телефон" id="u_phone_number"/>
					</div>
					<div class="form-group">
						<label id="u_email_address_label">Эл. почта: </label>
						<input type="text"  class="form-control" placeholder="Введите адрес электронной почты" id="u_email_address"/>
					</div>
					<button id="update_user_button_submit" class="btn btn-default">Обновить</button>
				</form>
			</div>
			<div id="change_password_form" class="content">
				<form>
					<div class="form-group">
						<label id="c_username_label">Имя пользователя: </label>
						<select id="c_username"></select>
					</div>
					<div class="form-group">
						<label id="c_password_label">Пароль: </label>
						<input type="password"  class="form-control" placeholder="Введите пароль" id="c_password"/>
					</div>
					<div class="form-group">
						<label id="c_password_repeat_label">Пароль (повторно): </label>
						<input type="password"  class="form-control" placeholder="Введите повторно пароль" id="c_password_repeat"/>
					</div>
					<button id="change_password_button_submit" class="btn btn-default">Сменить пароль</button>
				</form>
			</div>
			<div id="delete_user_form" class="content">
				<form>
					<table id="delete_user_table" class="table table-bordered table-condensed table-striped table-hover">
					</table>
				</form>
			</div>
			<div id="pending_registrations_form" class="content">
				<form>
					<table id="pending_registrations_table" class="table table-bordered table-condensed table-striped table-hover">
					</table>
				</form>
			</div>
			<div id="histograms" class="content"> 
			</div>
			<table id="stats" class="content table table-bordered table-condensed table-striped table-hover"> 
			</table>
		</div>
		<div id="login-info" style="display: none">
		</div>
		<a id="message-window-close-button" href="#" style="display: none">
			<img src="images/close.png" width="48px"/>
		</a>
		<div id="message-window" style="display: none">
		</div>
		<div id="spinner" style="display: none">
			<img src="images/loader.gif" />
		</div>
		<script language = "javascript">
			var tokenVerificationInterval = 2 * 60 * 1000;
			var loginScreenVisible = false;

			$.fn.sort_select_box = function(){
				// Get options from select box
				var my_options = $("#" + this.attr('id') + ' option');
				// sort alphabetically
				my_options.sort(function(a,b) {
					if (a.text > b.text) return 1;
					else if (a.text < b.text) return -1;
					else return 0
				})
				//replace with sorted my_options;
				$(this).empty().append( my_options );

				// clearing any selections
				$("#"+this.attr('id')+" option").attr('selected', false);
			}

			Handlebars.registerHelper("ifEq", function (operator1, operator2, options) {
				if(operator1 == operator2)
			        return options.fn(this);
			    else
			        return options.inverse(this);
			});

			function plotHistogram(container, resource, data) {
				Highcharts.chart(container, {
					title: {
						text: 'Распределение времени отклика для ресурса ' + resource
					},
					xAxis: [{
						title: { text: 'Образец' },
						alignTicks: false
					}, {
						title: { text: 'Гистогра́мма' },
						alignTicks: false,
						opposite: true
					}],
					yAxis: [{
						title: { text: 'Время отклика, секунды' }
					}, {
						title: { text: 'Частота появления' },
						opposite: true
					}],

					series: [{
						name: 'Гистогра́мма',
						type: 'histogram',
						xAxis: 1,
						yAxis: 1,
						baseSeries: 's1',
						zIndex: -1
						}, {
							name: 'Время отклика, секунды',
							type: 'scatter',
							data: data,
							id: 's1',
							marker: {
							radius: 2
							}
						}]
					}
				);
			}

			function showSpinner() {
				$("#spinner").show();
			}

			function hideSpinner() {
				$("#spinner").hide();
			}

			function showMessageWindow(message) {
				$("#message-window").html(message);
				$("#message-window").css("left", "calc(50% - 300px)");
				$("#message-window").css("top", "calc(50% - 150px)");
				$("#message-window").show();
				$("#message-window-close-button").show();
				$("#message-window-close-button").css("left", "calc(50% + 276px)");
				$("#message-window-close-button").css("top", "calc(50% - 174px)");
				$(".side-panel").hide();
			}

			function hideMessageWindow() {
				$("#message-window").hide();
				$("#message-window-close-button").hide();
				$(".side-panel").attr("style", "display: inline !important");
				$(".side-panel").show();
			}

			$(document).on("click","#message-window-close-button", function() {
				hideMessageWindow();
			});

			function hideLoginScreen() {
				$(".login-message").hide();
				$("#login-info").hide();
				$(".side-panel").attr("style", "display: inline !important");
				$(".side-panel").show();
				loginScreenVisible = false;
			}

			function showLoginScreen() {
				var source   = document.getElementById("login-template").innerHTML;
				var template = Handlebars.compile(source);
				output       = template({"language": "ru"});
				$("#login-info").html(output);
				$("#login-info").css("left", "calc(50% - 300px)");
				$("#login-info").css("top", "calc(50% - 150px)");
				$("#login-info").show();
				$("#request_registration").hide();
				loginScreenVisible = true;
				$(".side-panel").hide();
				$(document).on("click", "#login-button", function(event) {
					geomap.authenticate($("#username").val(), $("#password").val(), function(result) {
						if (result.status === "success") {
							if (result.role === "admin") {
								$(".main-panel").show();
								hideLoginScreen();
								$("#show_histograms").trigger("click");
							} else {
								showLoginScreen();
								//showMessageWindow("Неверное имя пользователя или пароль");
							}
						} else {
							showMessageWindow(result.reason);
						}
					});
					event.preventDefault();
				});
			}

			function hideAllForms() {
				$("#histograms").hide();
				$("#add_user_form").hide();
				$("#update_user_form").hide();
				$("#delete_user_form").hide();
				$("#change_password_form").hide();
				$("#stats").hide();
				$("#pending_registrations_form").hide();
				hideMessageWindow();
			}

			hideAllForms();
			hideSpinner();

			$.get("templates/templates.html", function (data) {
				$("#templates").html(data);
				geomap.getRole(function(result) {
					if (result.authenticated && result.role === "admin") {
						hideLoginScreen();
						$(".main-panel").show();
						$("#show_histograms").trigger("click");
					} else {
						hideAllForms();
						showLoginScreen();
					}
				}, function() {
					hideAllForms();
					showLoginScreen();
				});
			});

			function deleteUser(user_id) {
				geomap.deleteUser(user_id, function(result) {
					if (result.status === "success") {
						$("#delete_user_button").trigger("click");
					} else { 
						if (result.reason == "forbidden") {
							hideAllForms();
							showLoginScreen();
						} else {
							showMessageWindow(result.reason);
						}
					} 
				}, function() {
					showMessageWindow("Возникла системная ошибка. Обратитесь к администратору за помощью.");
				});
			}

			function deleteRegistrationRequest(pending_registrations_id) {
				showSpinner();
				geomap.deletePendingRegistration(pending_registrations_id, function(result) {
					hideSpinner();
					if (result.status === "success") {
						$("#pending_registrations_button").trigger("click");
					} else { 
						if (result.reason == "forbidden") {
							hideAllForms();
							showLoginScreen();
						} else {
							showMessageWindow(result.reason);
						}
					} 
				}, function() {
					showMessageWindow("Возникла системная ошибка. Обратитесь к администратору за помощью.");
				});
			}

			function fillDropDown(element, data) {
				var select = document.getElementById(element);
				var keys = Object.keys(data);
				var length = select.options.length;
				for (var i = 0; i < length; i++) {
					select.options[i] = null;
				}
				select.options = [];
				for (var i = 0; i < keys.length; i++) {
					key = keys[i];
					select.options[i] = new Option(data[key], key);
				}

				$('#' + element).sort_select_box();
			}

			function fillDeleteUserTable(users) {
				var keys = Object.keys(users);
				var html = "<tbody><tr><th>Пользователь</th><th>Имя</th><th>Фамилия</th><th>Телефон</th><th>Адрес эл. почты</th></tr>";
				for (var i = 0; i < keys.length; i++) {
					var user = users[keys[i]];
					html += "<tr>";
					html += "<td>" + user.username + "</td>";
					html += "<td>" + user.user_first_name + "</td>";
					html += "<td>" + user.user_last_name + "</td>";
					html += "<td>" + (user.phone_number == null ? '' : user.phone_number)  + "</td>";
					html += "<td>" + user.email_address + "</td>";
					html += "<td><button onClick=\"deleteUser('" +  keys[i] + 
						"')\" class='btn btn-default'>Удалить</button></td>";
					html += "</tr>";
				}
				html += "</tbody>";
				$("#delete_user_table").html(html);
			}

			function fillPendingRegistrationsTable(registrations) {
				var keys = Object.keys(registrations);
				var html = "<tbody><tr><th>Имя</th><th>Фамилия</th><th>Адрес эл. почты</th><th>Телефон</th><th>Описание</th></tr>";
				for (var i = 0; i < keys.length; i++) {
					var registration = registrations[keys[i]];
					html += "<tr>";
					html += "<td>" + registration.first_name + "</td>";
					html += "<td>" + registration.last_name + "</td>";
					html += "<td>" + registration.phone_number + "</td>";
					html += "<td>" + registration.email_address + "</td>";
					html += "<td>" + registration.description + "</td>";
					html += "<td><button onClick=\"deleteRegistrationRequest('" +  keys[i] + 
						"')\" class='btn btn-default'>Удалить</button></td>";
					html += "</tr>";
				}
				html += "</tbody>";
				$("#pending_registrations_table").html(html);
			}

			function showStats(stats) {
				var html = "<tbody><tr><th>Ресурс</th><th>Минимальное время, с.</th><th>Максимальное время, с.</th><th>Среднее время, с.</th><th>Стандартное отклонение, с.</th><th>Размер выборки</th></tr>";
				$("#stats").html("");
				for (var i = 0; i < stats.length; i++) {
					var stat = stats[i];
					html += "<tr>";
					html += "<td>" + stat.resource + "</td>";
					html += "<td>" + (Math.round(stat.min_time * 1000) / 1000) + "</td>";
					html += "<td>" + (Math.round(stat.max_time * 1000) / 1000) + "</td>";
					html += "<td>" + (Math.round(stat.mean_time * 1000) / 1000) + "</td>";
					html += "<td>" + (Math.round(stat.std * 1000) / 1000) + "</td>";
					html += "<td>" + stat.sample_size + "</td>";
					html += "</tr>";
				}
				html += "</tbody>"
				$("#stats").html(html);
			}

			$(document).ready(function() {
				$("#show_histograms").trigger("click");
				$("#show_stats").on("click", function() {
					hideAllForms();
					showSpinner();
					$("#stats").show();
					geomap.getStats(function(stats) {
						hideSpinner();
						if (stats.status === "success") {
							showStats(stats.data);
						} else {
							if (stats.reason === "failure") {
								hideAllForms();
								showLoginScreen();
							} else {
								showMessageWindow(stats.reason);
							}
						}
					}, function() {
						hideSpinner();
						showMessageWindow("Возникла системная ошибка. Обратитесь к администратору за помощью.");
					});
				});

				$("#show_histograms").on("click", function() {
					hideAllForms();
					showSpinner();
					$("#histograms").show();
					geomap.getHistogram(function(histogram) {
						if (histogram.status === "success") {
							var keys = Object.keys(histogram.data);
							var element = document.getElementById("histograms");
							element.innerHTML = "";
							for (var i = 0; i < keys.length; i++) {
								var resource = keys[i];
								var data = histogram.data[resource];
								var indexed_data = [];
								for (var j = 0; j < data.length; j++) {
									indexed_data.push([j, data[j]]);
								}
								var container = document.createElement("div");
								var separator = document.createElement("br")
								container.setAttribute("id", "container" + i);

								element.appendChild(container);
								element.appendChild(separator);
								plotHistogram(container, resource, indexed_data)
							}
							hideSpinner();
						} else {
							hideSpinner();
							if (histogram.reason === "forbidden") {
								hideAllForms();
								showLoginScreen();
							} else {
								showMessageWindow(status.reason);
							}
						}
					}, function(error) {
						hideSpinner();
						showMessageWindow("Возникла системная ошибка. Обратитесь к администратору за помощью.");
					});
				});

				$("#add_user_button_submit").on("click", function(event) {
					var username = $("#a_username").val();
					var password = $("#a_password").val();
					var firstName = $("#a_user_first_name").val();
					var lastName = $("#a_user_last_name").val();
					var phoneNumber = $("#a_phone_number").val();
					var email = $("#a_email_address").val();
					var roleId = $("#a_roles").val();
					if (!new RegExp("^[a-z0-9]{5,100}$").exec(username)) {
						showMessageWindow("Неверно имя пользователя");
						return;
					}
					if (!new RegExp("^(?=.*[A-Z]+)(?=.*[a-z]+)(?=.*[0-9]+)(?=.*[$#%]+)").exec(password) || 
						!new RegExp("^[a-zA-Z0-9#$%&@]{10,100}$").exec(password)) {
						showMessageWindow("Неверный пароль");
						return;
					}
					if (!new RegExp("^[A-Z]{1}[a-z]{1,99}$").exec(firstName)) {
						showMessageWindow("Неверное имя");
						return;
					}
					if (!new RegExp("^[A-Z]{1}[a-z]{1,99}$").exec(lastName)) {
						showMessageWindow("Неверная фамилия");
						return;
					}
					if (!new RegExp("^\\+[0-9]{3}-[0-9]{2}-[0-9]{7}$").exec(phoneNumber)) {
						showMessageWindow("Неверный номер телефона");
						return;
					}
					if (!new RegExp("^[a-zA-Z0-9._-]+@[a-zA-Z]+\.[a-zA-Z]{2,3}$").exec(email)) {
						showMessageWindow("Неверный адрес электронной почты");
						return;
					}
					showSpinner();
					geomap.addUser(
						username,
						password,
						firstName,
						lastName,
						phoneNumber,
						email,
						roleId,
						function(result) {
							hideSpinner();
							if (result.status === "success") {
								showMessageWindow("Пользователь был добавлен в базу");
							} else {
								if (result.reason === "forbidden") {
									hideAllForms();
									showLoginScreen();
								} else {
									showMessageWindow(result.reason);
								}
							}
						}, function(error) {
							hideSpinner();
							showMessageWindow("Возникла системная ошибка. Обратитесь к администратору за помощью.");
						}
					);
					event.preventDefault();
				});

				$("#update_user_button_submit").on("click", function(event) {
					var user_id = $("#u_username").val();
					var role_id = $("#u_roles").val();
					var enabled = $('#u_enabled').prop("checked");
					var firstName = $("#u_user_first_name").val();
					var lastName = $("#u_user_last_name").val();
					var phoneNumber = $("#u_phone_number").val();
					var email = $("#u_email_address").val();
					if (!new RegExp("^[A-Z]{1}[a-z]{1,99}$").exec(firstName)) {
						showMessageWindow("Неверное имя");
						return;
					}
					if (!new RegExp("^[A-Z]{1}[a-z]{1,99}$").exec(lastName)) {
						showMessageWindow("Неверная фамилия");
						return;
					}
					if (!new RegExp("^\\+[0-9]{3}-[0-9]{2}-[0-9]{7}$").exec(phoneNumber)) {
						showMessageWindow("Неверный номер телефона");
						return;
					}
					if (!new RegExp("^[a-zA-Z0-9._-]+@[a-zA-Z]+\.[a-zA-Z]{2,3}$").exec(email)) {
						showMessageWindow("Неверный адрес электронной почты");
						return;
					}
					showSpinner();
					geomap.updateUser(
						user_id,
						firstName,
						lastName,
						phoneNumber,
						email,
						role_id,
						enabled,
						function(result) {
							hideSpinner();
							if (result.status === "success") {
								showMessageWindow("Информация о пользователе была изменена");
							} else {
								if (result.reason === "forbidden") {
									hideAllForms();
									showLoginScreen();
								} else {
									showMessageWindow(result.reason);
								}
							}
						}, function(error) {
							hideSpinner();
							showMessageWindow("Возникла системная ошибка. Обратитесь к администратору за помощью.");
						}
					);
					event.preventDefault();
				});

				$("#change_password_button_submit").on("click", function() {
					var user_id = $("#c_username").val();
					var password = $("#c_password").val();
					var password_repeat = $("#c_password_repeat").val();
					if (password != password_repeat) {
						showMessageWindow("Пароли не совпадают");
						return;
					}
					if (!new RegExp("^(?=.*[A-Z]+)(?=.*[a-z]+)(?=.*[0-9]+)(?=.*[$#%]+)").exec(password) || 
						!new RegExp("^[a-zA-Z0-9#$%&@]{10,100}$").exec(password)) {
						showMessageWindow("Неверный пароль");
					}
					showSpinner();
					geomap.changePassword(
						user_id, 
						password,
						function(result) {
							hideSpinner();
							if (result.status === "success") {
								showMessageWindow("Пароль был изменен");
							} else {
								if (result.reason === "forbidden") {
									hideAllForms();
									showLoginScreen();
								} else {
									showMessageWindow(result.reason);
								}
							}
						}, function(error) {
							hideSpinner();
							showMessageWindow("Возникла системная ошибка. Обратитесь к администратору за tю.");
						}
					);
				});

				$("#pending_registrations_button").on("click", function() {
					hideAllForms();
					$("#pending_registrations_form").show();
					showSpinner();
					geomap.getPendingRegistrations(function(pending_registrations) {
						hideSpinner();
						if (pending_registrations.status == 'success') {
							fillPendingRegistrationsTable(pending_registrations.data);
						} else {
							if (pending_registrations.reason === "forbidden") {
								hideAllForms();
								showLoginScreen();
							} else {
								showMessageWindow(pending_registrations.reason);
							}
						}
					}, function() {
						hideSpinner();
						showMessageWindow("Возникла системная ошибка. Обратитесь к администратору за помощью.");
					});
				});

				$("#change_password_button").on('click', function(event) {
					hideAllForms();
					showSpinner();
					$("#change_password_form").show();
					geomap.getUsers(function(users) {
						hideSpinner();
						if (users.staus === "failure") {
							if (users.reason === "forbidden") {
								hideAllForms();
								showLoginScreen();
							} else {
								showMessageWindow(users.reason);
							}
						} else {
							var data = {};
							for (var i = 0; i < Object.keys(users.data).length; i++) {
								var key = Object.keys(users.data)[i];
								var value = users.data[key]["username"];
								data[key] = value;
							}
							fillDropDown("c_username", data);
						}
					}, function() {
						hideSpinner();
						showMessageWindow("Возникла системная ошибка. Обратитесь к администратору за помощью.");
					});
				});

				$("#update_user_button").on("click", function() {
					hideAllForms();
					showSpinner();
					$("#update_user_form").show();
					var itemsToLoad = 2;
					geomap.getUsers(function(users) {
						if (--itemsToLoad == 0) {
							hideSpinner();
						}
						if (users.status == "success") {
							var data = {};
							for (var i = 0; i < Object.keys(users.data).length; i++) {
								var key = Object.keys(users.data)[i];
								var value = users.data[key]["username"];
								data[key] = value;
							}
							fillDropDown("u_username", data);
							$("#u_username").trigger("change");
						} else { 
							if (users.reason == "forbidden") {
								hideAllForms();
								showLoginScreen();
							} else {
								showMessageWindow(users.reason);
							}
						} 
					}, function() {
						hideSpinner();
						showMessageWindow("Возникла системная ошибка. Обратитесь к администратору за помощью.");
					});
					geomap.getRoles(function(roles) {
						if (--itemsToLoad == 0) {
							hideSpinner();
						}
						if (roles.status == "success") {
							var data = {};
							for (var i = 0; i < Object.keys(roles.data).length; i++) {
								var key = Object.keys(roles.data)[i];
								var value = roles.data[key];
								data[key] = value;
							}
							fillDropDown("u_roles", data);
						} else { 
							if (roles.reason == "forbidden") {
								hideAllForms();
								showLoginScreen();
							} else {
								showMessageWindow(roles.reason);
							}
						} 
					}, function() {
						hideSpinner();
						showMessageWindow("Возникла системная ошибка. Обратитесь к администратору за помощью.");
					});
				});

				$("#delete_user_button").on("click", function() {
					hideAllForms();
					showSpinner();
					$("#delete_user_form").show();
					geomap.getUsers(function(users) {
						hideSpinner();
						if (users.status === "success") {
							fillDeleteUserTable(users.data);
						} else {
							if (users.reason === "forbidden") {
								hideAllForms();
								showLoginScreen();
							} else {
								showMessageWindow(users.reason);
							}
						}
					},function(error) {
						hideSpinner();
						showMessageWindow("Возникла системная ошибка. Обратитесь к администратору за помощью.");
					});
				});

				$("#u_username").change(function(event) {
					var user_id = $("#u_username").val();
					showSpinner();
					geomap.getUser(user_id, function(user) {
						hideSpinner();
						if (user.status === "success") {
							var user = user.data[user_id];
							$("#u_roles").val(user.role_id);
							$('#u_enabled').prop('checked', user.enabled);
							$("#u_user_first_name").val(user.user_first_name);
							$("#u_user_last_name").val(user.user_last_name);
							$("#u_phone_number").val(user.phone_number);
							$("#u_email_address").val(user.email_address);
						} else {
							if (user.reason === "forbidden") {
								hideAllForms();
								showLoginScreen();
							} else {
								showMessageWindow(user.reason);
							}
						}
					}, function(error) {
						hideSpinner();
						showMessageWindow("Возникла системная ошибка. Обратитесь к администратору за помощью.");

					});
				});

				$("#add_user_button").on("click", function() {
					hideAllForms();
					$("#add_user_form").show();
					showSpinner();
					var select = document.getElementById("a_roles");
					geomap.getRoles(function(result) {
						hideSpinner();
						if (result.status === "failure") {
							if (result.reason === "forbidden") {
								hideAllForms();
								showLoginScreen();
							} else {
								showMessageWindow(result.reason);
							}
						} else {
							select.options = [];
							var keys = Object.keys(result.data);
							for (var i = 0; i < keys.length; i++) {
								key = keys[i];
								select.options[i] = new Option(result.data[key], key);
							}
						}
					}, function() {
						hideSpinner();
						showMessageWindow("Возникла системная ошибка. Обратитесь к администратору за помощью.");
					});
				});

				$("#logout_button").on("click", function() {
					showSpinner();
					geomap.logout(function() {
						hideSpinner();
						hideAllForms();
						showLoginScreen();
					}, function() {
						hideSpinner();
						showMessageWindow("Возникла системная ошибка. Обратитесь за помощью к администратору.");
					})
				});
				
				setInterval(function() {
					geomap.checkToken(function(result) {
						if (result.authenticated) {
							//noop
						} else {
							if (!loginScreenVisible) {
								hideAllForms();
								showLoginScreen();
							}
						}
					}, function() {
						hideAllForms();
						showLoginScreen();
					});
				}, tokenVerificationInterval);
			});
		</script>
	</body>
</html>
